@import url('https://fonts.googleapis.com/css?family=Almendra:ital|Henny+Penny&display=swap');

.page3,
.witch,
.school,
.page1,
.page2 {
	display: none;
}

.isconfig[value="0"] ~ .sheettype[value="school"] ~ .school,
.isconfig[value="0"] ~ .sheettype[value="witch"] ~ .witch,
.isconfig[value='on'] ~ .page3,
.witchpage[value="1"] ~ .page1,
.witchpage[value="2"] ~ .page2
{
	display: inline;
}

.col-left {
	width: 30%;
}
.flexcontainer {
	display: flex !important;
}
.flex {
	flex: 1;
}

button.squawk:before {
	font-family: "Pictos" !important;
	content: "w" !important;
}

.pfcontainer {
    display: inline !important;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px !important;
    cursor: pointer;
    font-size: 22px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pfcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.pfradio {
	position: absolute;
	top: 0;
	left: 0;
	height: 19px;
	width: 19px;
	background-color: #eee;
	border-radius: 25%;
	font-family: Pictos;	
}
.pfcontainer:hover input ~ .pfradio {
    background-color: #ccc;
}
.pfcontainer input:checked ~ .pfradio:after {
	display: block;
}
.isconfig[value="on"] ~ div .header .pfcontainer input[type="checkbox"] ~ .pfradio,
.witchpage[value="1"] ~ div .header .pfcontainer input[value="1"] ~ .pfradio,
.witchpage[value="2"] ~ div .header .pfcontainer input[value="2"] ~ .pfradio {
	background-color: #b24dff;
}
.pageswitch {
	float: right;
	right: 20px;
}

/* Header */
.header {
	height: 50px;
	background: url("https://i.ibb.co/9hD9KBj/header.png");
	position: relative;
}

.pagetogglediv {
	float: right;
    right: 55px;
    position: absolute;
    z-index: 9;
	top: 10px;
}

.header input[type='text'] {
	background: transparent;
	border: none;
	font-size: xx-large;
	color: #b24dff;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,-1px -1px 0 #000;
	position: absolute;
	float:left;
	z-index: 4;
	width: 100%;
	font-family: 'Henny Penny', cursive, sans-serif;
}

/* Page Elements */
h2 {
	text-align: center;
	font-family: 'Henny Penny', cursive, sans-serif;	
}
.flexrow {
	display: flex;
}
.flexfield {
	flex: 1;
}

/* Witch Specific Elements */
.sheet-col,
.page1 > p {
	text-align: center;
}

.page1 > p span {
	font-size: x-small;
}

.page1 > p input {
	border: none;
	font-size: x-small;
}
.witch span {
	font-weight: bold;
}

.page2 .repitem {
	border: 1px solid #D2B48C;
}

.page2 label {
	display: inline;
}

.page2 textarea {
	width: 95%
}

.castsrow label {
	padding-right: 0px;
}

.descrow div {
	width: calc(100% - 25px);
	display: inline;
}

.descrow div:first-child {
	width: 25px;
	display: inline;	
}

.buttonrow div {
	width: calc(50% - 12.5px);
	display: inline;	
}
.buttonrow div:first-child {
	width: 25px;
}

.hidespellcb[value="on"] ~ .hidespell,
.hidespell,
.descrow,
.castsrow {
	display: none !important;
}

.hidespellcb[value="0"] ~ .hidespell,
.hidespellcb[value="on"] ~ .descrow,
.hidespellcb[value="on"] ~ .castsrow{
	display: inline !important;
}

/* School specific things */
.faculty .repitem:not(:last-child) {
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
}

.faculty .repitem:not(:first-child) {
	padding-top: 5px;
}

.faculty .repitem > div,
.faculty .repitem > p {
	display: none;
}

.faculty .repitem div {
	width:100%;
	text-align: center;
}

.modifyprof[value="on"] ~ p,
.modifyprof[value="0"] ~ div {
	display: inline-block;
}

.faculty .repitem .col span:first-child {
	font-weight: bold;
}
.faculty .repitem .col span:not(:first-child) {
	text-transform:capitalize;
}

/* Roll Templates */

.sheet-rolltemplate-squawk {
	background-color: #FCF;
	border: 4px outset #96F;
	padding: 3px;
}
.sheet-rolltemplate-squawk table {
	width: 100%;
}
.sheet-rolltemplate-squawk th {
	text-align: center;	
}

.sheet-rolltemplate-squawk th span {
	font-family: 'Henny Penny', cursive, sans-serif;
	font-style: italic;
}

.sheet-rolltemplate-squawk th i {
	text-transform: capitalize;
	font-weight: normal;
	font-size: x-small;
}

.sheet-rolltemplate-rr table,
.sheet-rolltemplate-aw table {
	width: 189px;
	padding: 2px;
	background-color: #99F;	
	border-spacing: 0;    
	border-radius: 20px;
	border: 1px solid purple;
	border-collapse: unset;
}

/* hero name + roll name */ 
.sheet-rolltemplate-rr th,
.sheet-rolltemplate-aw th {
	color: #333333;
	padding-top: 2px;
	padding-right: 12px;
	padding-left: 10px;
	padding-bottom: 10px;
	line-height: 1.2em;
	font-family: 'Henny Penny', cursive, sans-serif;
	font-size: 1.1em;
	vertical-align: center;
	border-spacing: 0;
    
}

/* big number dice result */
.sheet-rolltemplate-rr .sheet-result,
.sheet-rolltemplate-aw .sheet-result {
	font-family: 'Henny Penny', cursive, sans-serif;
	font-size: 2em;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 11px;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
    
}

/* Hit, Miss, YEAH! etc */
.sheet-rolltemplate-rr td,
.sheet-rolltemplate-aw td {
	color: #333333;
	width: 153px;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 5px;
	font-family: 'Henny Penny', cursive, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

/* roll name adjustment */
.sheet-rolltemplate-rr .sheet-rolledmovename,
.rolltemplate-aw .sheet-rolledmovename {
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
}



/* 7-9 colour */
.sheet-rolltemplate-rr .inlinerollresult,
.sheet-rolltemplate-rr .inlinerollresult.fullcrit,
.sheet-rolltemplate-rr .inlinerollresult.fullfail,
.sheet-rolltemplate-rr .inlinerollresult.importantroll,
.sheet-rolltemplate-aw .inlinerollresult,
.sheet-rolltemplate-aw .inlinerollresult.fullcrit,
.sheet-rolltemplate-aw .inlinerollresult.fullfail,
.sheet-rolltemplate-aw .inlinerollresult.importantroll{
	background-color: transparent;
	color: #000080;
	border: none;
}

/* 10+ colour */
.sheet-rolltemplate-rr .sheet-success .inlinerollresult,
.sheet-rolltemplate-rr .sheet-success .inlinerollresult.sheet-fullcrit,
.sheet-rolltemplate-rr .sheet-success .inlinerollresult.sheet-fullfail,
.sheet-rolltemplate-rr .sheet-success .inlinerollresult.sheet-importantroll,
.sheet-rolltemplate-aw .sheet-success .inlinerollresult,
.sheet-rolltemplate-aw .sheet-success .inlinerollresult.sheet-fullcrit,
.sheet-rolltemplate-aw .sheet-success .inlinerollresult.sheet-fullfail,
.sheet-rolltemplate-aw .sheet-success .inlinerollresult.sheet-importantroll{
	background-color: transparent;
	color: #22AA22;
	border: none;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,-1px -1px 0 #000;	
}

/* 6- colour */
.sheet-rolltemplate-rr .sheet-failure .inlinerollresult,
.sheet-rolltemplate-rr .sheet-failure .inlinerollresult.fullcrit,
.sheet-rolltemplate-rr .sheet-failure .inlinerollresult.fullfail,
.sheet-rolltemplate-rr .sheet-failure .inlinerollresult.importantroll,
.sheet-rolltemplate-aw .sheet-failure .inlinerollresult,
.sheet-rolltemplate-aw .sheet-failure .inlinerollresult.fullcrit,
.sheet-rolltemplate-aw .sheet-failure .inlinerollresult.fullfail,
.sheet-rolltemplate-aw .sheet-failure .inlinerollresult.importantroll{
	background-color: transparent;
	color: #B31515;
	border: none;
}

/*Backgrounds!*/
.sheet-rolltemplate-aw table {
	background-image: url(https://raw.githubusercontent.com/EtoileLion/Project-Hecate/master/images/style1/aesparkle-normal.gif)
}
.sheet-rolltemplate-aw table.sheet-success {
	background-image: url(https://raw.githubusercontent.com/EtoileLion/Project-Hecate/master/images/style1/aesparkle-succ.gif)
}
.sheet-rolltemplate-aw table.sheet-failure {
	background-image: url(https://raw.githubusercontent.com/EtoileLion/Project-Hecate/master/images/style1/aesparkle-fail.gif)
}
.sheet-rolltemplate-rr table {
	background-image: linear-gradient(to right,#8F5ECE,#99F,#8F5ECE);
}

.sheet-rolltemplate-rr table.sheet-failure {
	background-image: linear-gradient(to right,#CE5E5E,#BB7575,#CE5E5E);
}
.sheet-rolltemplate-rr table.sheet-success {
    background-image: linear-gradient(to right,#6ACE5E,#A7FF99,#6ACE5E);
}