@font-face {
  font-family: 'Fontdiner Swanky';
  font-style: normal;
  font-weight: 400;
  src: url(https://github.com/EtoileLion/r20fonts/blob/master/DK_Toverheks.otf?raw=true) format('opentype');  
}

.sheet-page3,
.sheet-witch,
.sheet-school,
.sheet-page1,
.sheet-page2 {
	display: none;
}

.sheet-isconfig[value="0"] ~ .sheet-sheettype[value="school"] ~ .sheet-school,
.sheet-isconfig[value="0"] ~ .sheet-sheettype[value="witch"] ~ .sheet-witch,
.sheet-isconfig[value='on'] ~ .sheet-page3,
.sheet-witchpage[value="1"] ~ .sheet-page1,
.sheet-witchpage[value="2"] ~ .sheet-page2,
{
	display: inline;
}

.sheet-col-left {
	width: 30%;
}

button.sheet-squawk:before {
	font-family: "Pictos" !important;
	content: "w" !important;
}

.sheet-pfcontainer {
    display: inline;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sheet-pfcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.sheet-pfradio {
	position: absolute;
	top: 0;
	left: 0;
	height: 19px;
	width: 19px;
	background-color: #eee;
	border-radius: 25%;
	font-family: Pictos;	
}
.sheet-pfcontainer:hover input ~ .sheet-pfradio {
    background-color: #ccc;
}
.sheet-pfcontainer input:checked ~ .sheet-pfradio:after {
	display: block;
}
.sheet-isconfig[value="on"] ~ div .sheet-header .sheet-pfcontainer input[type="checkbox"] ~ .sheet-pfradio,
.sheet-witchpage[value="1"] ~ .sheet-header .sheet-pfcontainer input[value="1"] ~ .sheet-pfradio,
.sheet-witchpage[value="2"] ~ .sheet-header .sheet-pfcontainer input[value="2"] ~ .sheet-pfradio {
	background-color: #b24dff;
}
.sheet-pageswitch {
	float: right;
	right: 20px;
}

/* Header */
.sheet-header {
	height: 50px;
	background: url("https://i.ibb.co/9hD9KBj/header.png");
	position: relative;
}

.sheet-pagetogglediv {
	float: right;
    right: 55px;
    position: absolute;
    z-index: 9;
	top: 10px;
}

.sheet-header input[type='text'] {
	background: transparent;
	border: none;
	font-size: xx-large;
	color: #b24dff;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,-1px -1px 0 #000;
	position: absolute;
	float:left;
	z-index: 4;
	width: 100%;
	font-family: 'Fontdiner Swanky', cursive, sans-serif;
}

/* Page Elements */
h2 {
	text-align: center;
	font-family: 'Fontdiner Swanky', cursive, sans-serif;	
}
.sheet-flexrow {
	display: flex;
}
.sheet-flexfield {
	flex: 1;
}

/* Witch Specific Elements */
.sheet-col,
.sheet-page1 > p {
	text-align: center;
}

.sheet-page1 > p span {
	font-size: x-small;
}

.sheet-page1 > p input {
	border: none;
	font-size: x-small;
}
.sheet-witch span {
	font-weight: bold;
}

.sheet-page2 .repitem {
	border: 1px solid #D2B48C;
}

.sheet-page2 label {
	display: inline;
}

.sheet-page2 textarea {
	width: 95%
}

.sheet-castsrow label {
	padding-right: 0px;
}

.sheet-descrow div {
	width: calc(100% - 25px);
	display: inline;
}

.sheet-descrow div:first-child {
	width: 25px;
	display: inline;	
}

.sheet-buttonrow div {
	width: calc(50% - 12.5px);
	display: inline;	
}
.sheet-buttonrow div:first-child {
	width: 25px;
}

.sheet-hidespellcb[value="on"] ~ .sheet-hidespell,
.sheet-hidespell,
.sheet-descrow,
.sheet-castsrow {
	display: none !important;
}

.sheet-hidespellcb[value="0"] ~ .sheet-hidespell,
.sheet-hidespellcb[value="on"] ~ .sheet-descrow,
.sheet-hidespellcb[value="on"] ~ .sheet-castsrow{
	display: inline !important;
}

/* School specific things */
.sheet-faculty .repitem:not(:last-child) {
	border-bottom: 1px solid #CCC;
	padding-bottom: 5px;
}

.sheet-faculty .repitem:not(:first-child) {
	padding-top: 5px;
}

.sheet-faculty .repitem > div,
.sheet-faculty .repitem > p {
	display: none;
}

.sheet-faculty .repitem div {
	width:100%;
	text-align: center;
}

.sheet-modifyprof[value="on"] ~ p,
.sheet-modifyprof[value="0"] ~ div {
	display: inline-block;
}

.sheet-faculty .repitem .sheet-col span:first-child {
	font-weight: bold;
}
.sheet-faculty .repitem .sheet-col span:not(:first-child) {
	text-transform:capitalize;
}

/* Roll Templates */

.sheet-rolltemplate-squawk {
	background-color: #FCF;
	border: 4px outset #96F;
	padding: 3px;
}
.sheet-rolltemplate-squawk table {
	width: 100%;
}
.sheet-rolltemplate-squawk th {
	text-align: center;	
}

.sheet-rolltemplate-squawk th span {
	font-family: 'Fontdiner Swanky', cursive, sans-serif;
	font-style: italic;
}

.sheet-rolltemplate-squawk th i {
	text-transform: capitalize;
	font-weight: normal;
	font-size: x-small;
}

.sheet-rolltemplate-rr table,
.sheet-rolltemplate-aw table {
	width: 189px;
	padding: 2px;
	background-color: #99F;	
	border-spacing: 0;    
	border-radius: 20px;
	border: 1px solid purple;
	border-collapse: unset;
}

/* hero name + roll name */ 
.sheet-rolltemplate-rr th,
.sheet-rolltemplate-aw th {
	color: #333333;
	padding-top: 2px;
	padding-right: 12px;
	padding-left: 10px;
	padding-bottom: 10px;
	line-height: 1.2em;
	font-family: 'Fontdiner Swanky', cursive, sans-serif;
	font-size: 1.1em;
	vertical-align: center;
	border-spacing: 0;
    
}

/* big number dice result */
.sheet-rolltemplate-rr .sheet-result,
.sheet-rolltemplate-aw .sheet-result {
	font-family: 'Fontdiner Swanky', cursive, sans-serif;
	font-size: 2em;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 11px;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
    
}

/* Hit, Miss, YEAH! etc */
.sheet-rolltemplate-rr td,
.sheet-rolltemplate-aw td {
	color: #333333;
	width: 153px;
	padding-top: 0px;
	padding-right: 30px;
	padding-bottom: 5px;
	font-family: 'Fontdiner Swanky', cursive, sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}

/* roll name adjustment */
.sheet-rolltemplate-rr .rolledmovename,
.sheet-rolltemplate-aw .rolledmovename {
	font-weight: bold;
	font-style: italic;
	font-size: 1.2em;
}

/* 10+ colour */
.sheet-rolltemplate-rr .sheet-success .inlinerollresult,
.sheet-rolltemplate-rr .sheet-success .inlinerollresult.fullcrit,
.sheet-rolltemplate-rr .sheet-success .inlinerollresult.fullfail,
.sheet-rolltemplate-rr .sheet-success .inlinerollresult.importantroll,
.sheet-rolltemplate-aw .sheet-success .inlinerollresult,
.sheet-rolltemplate-aw .sheet-success .inlinerollresult.fullcrit,
.sheet-rolltemplate-aw .sheet-success .inlinerollresult.fullfail,
.sheet-rolltemplate-aw .sheet-success .inlinerollresult.importantroll{
	background-color: transparent;
	color: #22AA22;
	border: none;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,-1px -1px 0 #000;	
}

/* 7-9 colour */
.sheet-rolltemplate-rr .inlinerollresult,
.sheet-rolltemplate-rr .inlinerollresult.fullcrit,
.sheet-rolltemplate-rr .inlinerollresult.fullfail,
.sheet-rolltemplate-rr .inlinerollresult.importantroll,
.sheet-rolltemplate-aw .inlinerollresult,
.sheet-rolltemplate-aw .inlinerollresult.fullcrit,
.sheet-rolltemplate-aw .inlinerollresult.fullfail,
.sheet-rolltemplate-aw .inlinerollresult.importantroll{
	background-color: transparent;
	color: #000080;
	border: none;
}

/* 6- colour */
.sheet-rolltemplate-rr .sheet-failure .inlinerollresult,
.sheet-rolltemplate-rr .sheet-failure .inlinerollresult.fullcrit,
.sheet-rolltemplate-rr .sheet-failure .inlinerollresult.fullfail,
.sheet-rolltemplate-rr .sheet-failure .inlinerollresult.importantroll,
.sheet-rolltemplate-aw .sheet-failure .inlinerollresult,
.sheet-rolltemplate-aw .sheet-failure .inlinerollresult.fullcrit,
.sheet-rolltemplate-aw .sheet-failure .inlinerollresult.fullfail,
.sheet-rolltemplate-aw .sheet-failure .inlinerollresult.importantroll{
	background-color: transparent;
	color: #B31515;
	border: none;
}